.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/hits_files/*
data/hyper_files/*
data/hypo_flies/*
data/n45_bedfiles/*
data/xstreme/*
data/enhancerdata/*
