.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/*RDS
data/*txt
data/Final_four_data/*RDS
data/Final_four_data/H3K27ac_files/IndB_tagMatrix.RDS
data/Final_four_data/H3K27ac_files/IndA_tagMatrix.RDS
data/Final_four_data/H3K27ac_files/IndC_tagMatrix.RDS
data/Final_four_data/mast_hit_files/*
data/Final_four_data/meme_bed/*
data/full_bedfiles/*
data/GO_KEGG_analysis/*
data/hits_files/*
data/hyper_files/*
data/hypo_flies/*
data/n45_bedfiles/*
data/xstreme/*
data/enhancerdata/*
data/TE_info/*
data/other_papers/repeatmasker.tsv
data/other_papers/ChIP3_TOP2B_CM_87-1.bigwig
